#number_input
{
    background-color: rgb(49, 8, 49);
    height: 50px;
    width: 100px;
    font-size: 50px;
    margin-bottom: 10px;
    padding: auto;
}
#container
{
    padding: 20px;
    text-align: center;
    margin: 12%;
    background-color: violet;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}